<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/BM Part 2 Chess/src/net/Wilckens/Chess/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.Wilckens.Chess.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="BM Part 2 Chess"/>
</launchConfiguration>
